# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build folders
dist
dist-ssr

# Local env files
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

backend/uploads/
backend/public/images/

backend/models/Order.js
backend/controllers/orderController.js
backend/routes/orderRoutes.js

frontend/src/store/cartStore.js
frontend/src/store/orderStore.js

frontend/src/pages/Checkout.jsx